backports.zoneinfo
beautifulsoup4
certifi
cffi
charset-normalizer
click
colorama
comtypes
cryptography
docopt
Flask
gunicorn
idna
itsdangerous
Jinja2
Js2Py
MarkupSafe
MouseInfo
packaging
Pillow
psycopg2
PyAutoGUI
pycparser
PyGetWindow
pyjsparser
PyMsgBox
pyOpenSSL
pyparsing
pyperclip
PyPrind
PyRect
PyScreeze
pySmartDL
pyttsx3
pytweening
pytz-deprecation-shim
pywhatkit
requests
six
soupsieve
SpeechRecognition
tzdata
tzlocal
urllib3
Werkzeug
wikipedia
